{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Music Player</title>
    <link rel="stylesheet" type="text/css" href="{% static 'songs/fontawesome-free-5.15.2-web/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'songs/player/player.css' %}">
</head>

<body>

<div class="home">
     {% if request.user == user %}
        <div class="file-upload">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <label for="id_music">
                    <div class="navigation_bar">
                        <div class="pint_mock_icon_container add_pin">
                            <img src="{% static 'songs/pngs/add.png' %}" alt="add_pin" class="pint_mock_icon">
                        </div>
                        <div id="file-chosen">No file choosen</div>
                    </div>
                </label>
            </form>
        </div>
     {% endif %}

         {% if songs|length > 0 %}
            <audio class="{{ songs.0.filename }}" src="{{ songs.0.music.url }}" id="audio"></audio>
         {% endif %}


        <div style="margin-top: 100px;">

            <button class="toggleplayer" style="display: none;"></button>


            {% for song in songs %}
            <div class="music-container" id="music-container">

              <span class="{{ song.filename }}" style="display: none;"></span>


                <div class="img-container2" id="{{ song.filename }}" style="padding: 8px; {% if song.artwork != '' %} background-image:url({{ song.artwork.url }});{% endif %}">
                     {% if song.artwork == "" %}
                    <span><i class="fas fa-music"></i></span>
                     {% endif %}
                </div>

                <div class="music-info" id="{{ song.filename }}" style="text-align: left;">

                     {% if song.title != '' %}
                        <span>{{ song.title|slice:20 }}{% if song.title|length >= 20 %}...{% endif %}</span>
                     {% else %}
                        <span>{{ song.filename|slice:20 }}{% if song.filename|length >= 20 %}...{% endif %}</span>
                     {% endif %}
                    <br>
                     {% if song.artist != '' %}
                        <span style="font-size: 12px; color: rgba(255,255,255, 0.7);">{{ song.artist }}</span>
                    {% else %}
                        <span style="font-size: 12px; color: rgba(255,255,255, 0.7)">Unknown Artist</span>
                    {% endif %}

                </div>


            <div class="navigation" id="{{ song.filename }}">
                <button id="options" class="action-btn action-btn-big" style="width: 50px; height: 50px;">
                  <i class="fas fa-ellipsis-v" style="font-size: 14px;"></i>
                </button>

              <div class="dropdownsong" id="{{ song.filename }}">
                <button onclick="closedropdown()">
                    <i class="fas fa-times" id="closelyrics" style="font-size: 24px;"></i>
                </button>
                     {% if request.user.username == user.username %}
                        <li><a href="/delete/user/{{ song.filename }}">Delete Song</a></li>
                     {% endif %}
              </div>
            </div>

            </div>

            {% endfor %}
        </div>

        <div style="height: 125px;">

        </div>

        <!-- Footer -->
        <div class="footer">
            <div class="music-container" id="music-container">

                <div class="img-container2" id="footer-img" style="padding: 8px;">
                    <span><i class="fas fa-music" id="small"></i></span>
                </div>
                <div class="music-info" id="footer-music" style="text-align: left;">
                     {% if songs|length >= 1 %}
                         {% if songs.0.title != '' %}
                            <span id="footersong">{{ songs.0.title|slice:20 }}{% if songs.0.title|length >= 20 %}...{% endif %}</span>
                         {% else %}
                            <span id="footersong">{{ songs.0.filename|slice:20 }}{% if songs.0.filename|length >= 20 %}...{% endif %}</span>
                         {% endif %}
                        <br>
                         {% if songs.0.artist != '' %}
                            <span id="footerartist" style="font-size: 12px;">{{ songs.0.artist }}</span>
                         {% else %}
                            <span id="footerartist" style="font-size: 12px;">Unknown Artist</span>
                         {% endif %}
                     {% endif %}
                </div>
                <div class="navigation">
                    <button id="playbtnfooter" class="action-btn action-btn-big">
                      <i class="fas fa-play" id="footericon"></i>
                    </button>
                </div>
            </div>

        </div>

</div>

    <div class="player">

            <h1 style="opacity: 0;">Music Player</h1>

            <div style="display: flex; justify-content: space-between; width: 300px; margin: 10px auto;">

                <button class="togglehome">
                    <i class="fas fa-angle-left" style="font-size: 32px;"></i>
                </button>

                <button class="togglelyrics" onclick="showlyrics()" style="opacity: 0;">
                    <i class="fas fa-align-left" style="font-size: 24px;"></i>
                </button>

            </div>

            <div class="music-container2" id="music-container2">

              <div class="img-container" style="padding: 20px;">
                <i id="player-fas-fa-music" class="fas fa-music"></i>
              </div>

              <div class="music-info2">
                <h4 id="title"></h4>
                <p style="font-size: 12px;" id="artist"></p>
                <div class="progress-container" id="progress-container">
                  <div class="progress" id="progress"></div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <span class="current" style="font-size: 10px;"></span>
                    <span class="duration" style="font-size: 10px;"></span>
                </div>

              </div>

              <div class="navigation2">

                <button id="prev" class="action-btn">
                  <i class="fas fa-backward" style="font-size: 24px;"></i>
                </button>
                <button id="play" class="action-btn action-btn-big">
                  <i class="fas fa-play" style="font-size: 32px;"></i>
                </button>
                <button id="next" class="action-btn">
                  <i class="fas fa-forward" style="font-size: 24px;"></i>
                </button>
              </div>

            </div>

    </div>




    <div class="lyrics">
        <button onclick="closelyrics()">
            <i class="fas fa-times" id="closelyrics" style="font-size: 24px;"></i>
        </button>
            <div class="lyricstextcontainer" style="max-width: 300px; text-align: left; margin: 50px auto; font-size: 20px;">

            </div>
    </div>

    <script src="{% static 'songs/old/jquery.js' %}"></script>

    <script type="text/javascript">
            const user = "{{ user|safe }}"
            const get_media_prefix = "{% get_media_prefix %}"
            const unique_id = "{{ unique_id }}"
    </script>

    <script src="{% static 'songs/player/player.js' %}"></script>

</body>
</html>
